<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="logo">
            <img src="assets/images/exotica_logo.png" class="navbarImg" (click)="home()">
        </span>

        <span class="example-spacer"></span>
        <span class="menu-spacer"></span>
        <div class="center-list">
            <button mat-raised-button (click)="home()">
                <span >Home</span> 
            </button>
            <button mat-raised-button (click)="ourServices()"> 
                <span >Our Services</span> 
            </button>
            <button mat-raised-button (click)="aboutUs()"> 
                <span >About us</span> 
            </button>
            <button mat-raised-button (click)="contactUs()"> 
                <span >Contact us</span> 
            </button>
        </div>

        <span class="example-spacer"></span>
        <div>
            <button mat-raised-button> 
                <span >Sign in</span> 
            </button>
        </div>

    </mat-toolbar-row>
</mat-toolbar>