.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .content {
    flex: 1;
    margin-left: 30px;
  }
  
  .image {
    flex: 1;
    text-align: right;
  }
  
  .image img {
    max-width: 85%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }