<h1 class="header">Our Services</h1>

<p class="sub-header">
  The objective of cleaning is not just to clean, but to feel happiness living within that
  environment.
</p>

<br>

<div class="content">
  <div *ngFor="let service of services">
    <mat-card (click)="service.function()">
      <mat-card-header>
        <mat-card-title>{{service.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="service.image" alt="Couch service">
      <mat-card-content>
        <p>{{service.description}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br>
<br>