.card-title {
  align-items: center;
}

.header{
  text-align: center;
}

.sub-header{
  text-align: center;
  margin-top: 5px;
}

mat-card {
  height: auto; /* Allows the height of the card to adapt to its content */
  display: flex;
  flex-direction: column;
  background-color: #D9DDDC;

}


