.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.service-card {
  max-width: 20%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 20px 25px;
  padding: 25px;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  background-color:aliceblue;
  cursor: pointer;
}

.card-title {
  align-items: center;
}

img{
 height: 91%;
}

.header{
  text-align: center;
}

.sub-header{
  text-align: center;
  margin-top: -1%;
}