.card-title {
  align-items: center;
}

.header{
  text-align: center;
}

.sub-header{
  text-align: center;
  margin-top: 5px;
}

.content {
  display: flex;
  flex-wrap: wrap; /* Wraps the cards into rows */
  justify-content: center; /* Aligns cards to center */
  gap: 16px; /* Space between cards */
  padding: 16px;
}

.content > div {
  flex: 1 1 300px; /* Allows cards to take a width of at least 300px */
  min-width: 250px; /* Minimum width for each card */
  max-width: 300px; /* Maximum width for each card */
}

mat-card {
  height: auto; /* Allows the height of the card to adapt to its content */
  display: flex;
  flex-direction: column;
}
