/* Global styles for phone, tablet, and laptop/desktop */

.navbar {
  background-color: #000;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.navbar-brand:hover {
  color: #00308F;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

/* Hover effect for nav links */
.navbar-nav .nav-link:hover {
  color: #00308F;
  font-weight: bold;
}

/* Base styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

.logo {
  height: 75px;
  width: 75px;
}

.burger-menu {
  .nav-link {
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
}

mat-card.serviceMatCard{
  height: auto;
  /* Allows the height of the card to adapt to its content */
  display: flex;
  flex-direction: column;
  background-color: #D9DDDC;
}

.serviceHeader {
  text-align: center;
}

/* Mobile Small (max-width: 320px) */
@media (max-width: 320px) {
  .carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .carousel .item {
    z-index: 1;
    opacity: 0.6;
    position: absolute;
    transform: scale(0.3);
    transition: all 0.3s ease-in;

    &.active {
      position: relative;
      transform: scale(1);
      width: 90%;
      margin: 0 auto;
      z-index: 10;
      opacity: 1;
    }
  }

  .carousel img {
    width: 100%;
    display: block;
    margin-top: 20px;
  }

  .carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
  }

  .carousel button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
  }

  .carousel button:first-child {
    left: 0;
  }

  .carousel button:last-child {
    right: 0;
  }

  .service_card {
    display: flex;
    flex-wrap: wrap;
    /* Wraps the cards into rows */
    justify-content: center;
    /* Aligns cards to center */
    gap: 20px;
    /* Space between cards */
    padding: 16px;
    width: 90%;
    align-items: center;
    margin: auto;
    div {
      flex: 1 1 300px;
      /* Allows cards to take a width of at least 300px */
      min-width: 90%;
      /* Minimum width for each card */
      max-width: 100%;
      /* Maximum width for each card */

      margin-bottom: 10%;
    }
  
    img{
      width: 100%;
      height: 230px;
    }
  }

  .ourServicesClass {
    display: flex;
    flex-wrap: wrap; /* Wraps the cards into rows */
    justify-content: center; /* Aligns cards to center */
    gap: 5%; /* Space between cards */
    padding: 16px;
    width: 90%;
    align-items: center;
    margin: auto;
    cursor: pointer;
  
  
    div {
      flex: 1 1 300px;
      /* Allows cards to take a width of at least 300px */
      min-width: 90%;
      /* Minimum width for each card */
      max-width: 100%;
      /* Maximum width for each card */

      margin-bottom: 10%;
    }
  
    img{
      width: 100%;
      height: 230px;
    }
  }

}

/* Mobile Medium (min-width: 321px) and (max-width: 375px) */
@media (min-width: 321px) and (max-width: 375px) {
  .carousel {
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 2%;
  }

  .carousel .item {
    z-index: 1;
    opacity: 0.6;
    position: absolute;
    transform: scale(0.3);
    transition: all 0.3s ease-in;

    &.active {
      position: relative;
      transform: scale(1);
      width: 90%;
      margin: 0 auto;
      z-index: 10;
      opacity: 1;
    }
  }

  .carousel img {
    width: 100%;
    display: block;
    margin-top: 20px;
  }

  .carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
  }

  .carousel button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
  }

  .carousel button:first-child {
    left: 0;
  }

  .carousel button:last-child {
    right: 0;
  }

  /* service cards */
  .service_card {
    display: flex;
    flex-wrap: wrap;
    /* Wraps the cards into rows */
    justify-content: center;
    /* Aligns cards to center */
    gap: 20px;
    /* Space between cards */
    padding: 16px;
    width: 90%;
    align-items: center;
    margin: auto;

    div {
      flex: 1 1 300px;
      /* Allows cards to take a width of at least 300px */
      min-width: 90%;
      /* Minimum width for each card */
      max-width: 100%;
      /* Maximum width for each card */

      margin-bottom: 8%;
    }
  
    img{
      width: 100%;
      height: 250px;
    }
  }

  .ourServicesClass {
    display: flex;
    flex-wrap: wrap; /* Wraps the cards into rows */
    justify-content: center; /* Aligns cards to center */
    gap: 5%; /* Space between cards */
    padding: 16px;
    width: 90%;
    align-items: center;
    margin: auto;
    cursor: pointer;
  
  
    div {
      flex: 1 1 300px;
      /* Allows cards to take a width of at least 300px */
      min-width: 90%;
      /* Minimum width for each card */
      max-width: 100%;
      /* Maximum width for each card */

      margin-bottom: 8%;
    }
  
    img{
      width: 100%;
      height: 250px;
    }
  }
}

/* Mobile Large (min-width: 376px) and (max-width: 425px) */
@media (min-width: 376px) and (max-width: 425px) {
  .carousel {
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 2%;
  }

  .carousel .item {
    z-index: 1;
    opacity: 0.6;
    position: absolute;
    transform: scale(0.3);
    transition: all 0.3s ease-in;

    &.active {
      position: relative;
      transform: scale(1);
      width: 90%;
      margin: 0 auto;
      z-index: 10;
      opacity: 1;
    }
  }

  .carousel img {
    width: 100%;
    display: block;
    margin-top: 20px;
  }

  .carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
  }

  .carousel button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
  }

  .carousel button:first-child {
    left: 0;
  }

  .carousel button:last-child {
    right: 0;
  }

  .service_card {
    display: flex;
    flex-wrap: wrap;
    /* Wraps the cards into rows */
    justify-content: center;
    /* Aligns cards to center */
    gap: 5%;
    /* Space between cards */
    padding: 16px;
    width: 90%;
    align-items: center;
    margin: auto;

    div {
      flex: 1 1 300px;
      /* Allows cards to take a width of at least 300px */
      min-width: 85%;
      /* Minimum width for each card */
      max-width: 95%;
      /* Maximum width for each card */

      margin-bottom: 8%;
    }
  
    img{
      width: 100%;
      height: 270px;
    }
  }

  .ourServicesClass {
    display: flex;
    flex-wrap: wrap; /* Wraps the cards into rows */
    justify-content: center; /* Aligns cards to center */
    gap: 5%; /* Space between cards */
    padding: 16px;
    width: 90%;
    align-items: center;
    margin: auto;
    cursor: pointer;
  
  
    div {
      flex: 1 1 300px;
      /* Allows cards to take a width of at least 300px */
      min-width: 85%;
      /* Minimum width for each card */
      max-width: 95%;
      /* Maximum width for each card */

      margin-bottom: 8%;
    }
  
    img{
      width: 100%;
      height: 270px;
    }
  }

}

/* Tablet screens (min-width: 426px) and (max-width: 768px) */
@media (min-width: 426px) and (max-width: 768px) {
  .nav-toggle {
    display: flex;
    flex-direction: row;
  }

  .navbar-nav .nav-link {
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
  }

  .carousel {
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 2%;
  }

  .carousel .item {
    z-index: 1;
    opacity: 0.6;
    position: absolute;
    transform: scale(0.3);
    transition: all 0.3s ease-in;

    &.active {
      position: relative;
      transform: scale(1);
      width: 90%;
      margin: 0 auto;
      z-index: 10;
      opacity: 1;
    }
  }

  .carousel img {
    width: 100%;
    display: block;
    margin-top: 20px;
  }

  .carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
  }

  .carousel button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
  }

  .carousel button:first-child {
    left: 0;
  }

  .carousel button:last-child {
    right: 0;
  }

  /* Service cards */
  .service_card {
    display: flex;
    flex-wrap: wrap;
    /* Wraps the cards into rows */
    justify-content: center;
    /* Aligns cards to center */
    gap:30px;
    /* Space between cards */
    padding: 16px;
    width: 90%;
    align-items: center;
    margin: auto;

    div {
      flex: 1 1 300px;
      /* Allows cards to take a width of at least 300px */
      min-width: 200px;
      /* Minimum width for each card */
      max-width: 300px;
      /* Maximum width for each card */
      margin-bottom: 8px;
    }
  
    img{
      width: 100%;
      height: 190px;
    }
  }

  .ourServicesClass {
    display: flex;
    flex-wrap: wrap; /* Wraps the cards into rows */
    justify-content: center; /* Aligns cards to center */
    gap: 30px; /* Space between cards */
    padding: 16px;
    width: 90%;
    align-items: center;
    margin: auto;
    cursor: pointer;
  
  
    div {
      flex: 1 1 300px;
      /* Allows cards to take a width of at least 300px */
      min-width: 200px;
      /* Minimum width for each card */
      max-width: 300px;
      /* Maximum width for each card */
      margin-bottom: 8px;
    }
  
    img{
      width: 100%;
      height: 190px;
    }
  }

}

/* Laptop screens (min-width: 769px) and (max-width: 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .nav-toggle {
    display: flex;
    flex-direction: row;
  }

  .navbar-nav .nav-link {
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
  }

  .carousel {
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 2%;
  }

  .carousel .item {
    z-index: 1;
    opacity: 0.6;
    position: absolute;
    transform: scale(0.3);
    transition: all 0.3s ease-in;

    &.active {
      position: relative;
      transform: scale(1);
      width: 90%;
      margin: 0 auto;
      z-index: 10;
      opacity: 1;
    }
  }

  .carousel img {
    width: 100%;
    display: block;
    margin-top: 20px;
  }

  .carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
  }

  .carousel button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
  }

  .carousel button:first-child {
    left: 0;
  }

  .carousel button:last-child {
    right: 0;
  }

  /* Service cards */
  .service_card {
    display: flex;
    flex-wrap: wrap;
    /* Wraps the cards into rows */
    justify-content: center;
    /* Aligns cards to center */
    gap: 40px;
    /* Space between cards */
    padding: 16px;
    width: 90%;
    align-items: center;
    margin: auto;

    div {
      flex: 1 1 300px;
      /* Allows cards to take a width of at least 300px */
      min-width: 160px;
      /* Minimum width for each card */
      max-width: 260px;
      /* Maximum width for each card */
      margin-bottom: 10px;
    }
  
    img{
      width: 100%;
      height: 225px;
    }
  }

  .ourServicesClass {
    display: flex;
    flex-wrap: wrap; /* Wraps the cards into rows */
    justify-content: center; /* Aligns cards to center */
    gap: 40px; /* Space between cards */
    padding: 16px;
    width: 90%;
    align-items: center;
    margin: auto;
    cursor: pointer;
  
  
    div {
      flex: 1 1 300px;
      /* Allows cards to take a width of at least 300px */
      min-width: 160px;
      /* Minimum width for each card */
      max-width: 260px;
      /* Maximum width for each card */
      margin-bottom: 10px;
    }
  
    img{
      width: 100%;
      height: 225px;
    }
  }
}

/*Large Laptop screens (min-width: 1025px) and (max-width: 1440px) */
@media (min-width: 1025px) and (max-width: 1440px) {
  .nav-toggle {
    display: flex;
    flex-direction: row;
  }

  .navbar-nav .nav-link {
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
  }

  .carousel {
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 2%;
  }

  .carousel .item {
    z-index: 1;
    opacity: 0.6;
    position: absolute;
    transform: scale(0.3);
    transition: all 0.3s ease-in;

    &.active {
      position: relative;
      transform: scale(1);
      width: 90%;
      margin: 0 auto;
      z-index: 10;
      opacity: 1;
    }
  }

  .carousel img {
    width: 100%;
    display: block;
    margin-top: 20px;
  }

  .carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
  }

  .carousel button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
  }

  .carousel button:first-child {
    left: 0;
  }

  .carousel button:last-child {
    right: 0;
  }

  /* Service cards */
  .service_card {
    display: flex;
    flex-wrap: wrap;
    /* Wraps the cards into rows */
    justify-content: center;
    /* Aligns cards to center */
    gap: 40px;
    /* Space between cards */
    padding: 16px;
    width: 90%;
    align-items: center;
    margin: auto;

    div {
      flex: 1 1 300px;
      /* Allows cards to take a width of at least 300px */
      min-width: 320px;
      /* Minimum width for each card */
      max-width: 420px;
      /* Maximum width for each card */
      margin-bottom: 10px;
    }
  
    img{
      width: 100%;
      height: 300px;
    }
  }

  .ourServicesClass {
    display: flex;
    flex-wrap: wrap; /* Wraps the cards into rows */
    justify-content: center; /* Aligns cards to center */
    gap: 40px; /* Space between cards */
    padding: 16px;
    width: 90%;
    align-items: center;
    margin: auto;
    cursor: pointer;
  
  
    div {
      flex: 1 1 300px;
      /* Allows cards to take a width of at least 300px */
      min-width: 320px;
      /* Minimum width for each card */
      max-width: 420px;
      /* Maximum width for each card */
      margin-bottom: 10px;
    }
  
    img{
      width: 100%;
      height: 300px;
    }
  }
}

/*Large screens (min-width: 1441px) */
@media (min-width: 1441px) {
  .nav-toggle {
    display: flex;
    flex-direction: row;
  }

  .navbar-nav .nav-link {
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
  }

  .carousel {
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 2%;
  }

  .carousel .item {
    z-index: 1;
    opacity: 0.6;
    position: absolute;
    transform: scale(0.3);
    transition: all 0.3s ease-in;

    &.active {
      position: relative;
      transform: scale(1);
      width: 90%;
      margin: 0 auto;
      z-index: 10;
      opacity: 1;
    }
  }

  .carousel img {
    width: 100%;
    display: block;
    margin-top: 20px;
  }

  .carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
  }

  .carousel button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
  }

  .carousel button:first-child {
    left: 0;
  }

  .carousel button:last-child {
    right: 0;
  }

  /* Service cards */
  .service_card {
    display: flex;
    flex-wrap: wrap;
    /* Wraps the cards into rows */
    justify-content: center;
    /* Aligns cards to center */
    gap: 40px;
    /* Space between cards */
    padding: 16px;
    width: 90%;
    align-items: center;
    margin: auto;

    div {
      flex: 1 1 300px;
      /* Allows cards to take a width of at least 300px */
      min-width: 420px;
      /* Minimum width for each card */
      max-width: 520px;
      /* Maximum width for each card */
      margin-bottom: 20px;
    }

    img{
      width: 100%;
      height: 300px;
    }
  }

  .ourServicesClass {
    display: flex;
    flex-wrap: wrap; /* Wraps the cards into rows */
    justify-content: center; /* Aligns cards to center */
    gap: 40px; /* Space between cards */
    padding: 16px;
    width: 90%;
    align-items: center;
    margin: auto;
    cursor: pointer;
  
  
    div {
      flex: 1 1 300px;
      /* Allows cards to take a width of at least 300px */
      min-width: 420px;
      /* Minimum width for each card */
      max-width: 520px;
      /* Maximum width for each card */
      margin-bottom: 20px;
    }
  
    img{
      width: 100%;
      height: 300px;
    }
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}